<div class="row rounded">
    <div class="col">
    <img class="img" src="https://chiptronic.com.br/blog/wp-content/uploads/2017/11/Confira-as-5-motos-mais-potentes-do-mundo-atualmente.jpg">  <!-- <img class="img" src="https://www3.yamaha-motor.com.br/file/v462252262994624595/general/BANNER_02.01%20-%20DESTAQUE.jpg"> -->
    </div>
      
    <div class="col">
      <h5 class="font-weight-bold">Explore o nosso cátalogo!</h5>
      <p>Pesquise por categoria, preço e muito mais para encontrar sua próxima moto</p>
      <button type="button" class="btn btn-secondary">SAIBA MAIS</button>
    </div>
  </div>
