<div class="row">
    <div class="col">
        <img class="img" src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/banner-blu-collection.jpg&height=1080&width=1920">
    </div>
    <div class="col">
        <h5 class="font-weight-bold">VEJA NOSSO VESTUÁRIO!</h5>
      <p>FRETE GRÁTIS PARA TODO O BRASIL</p>
        <button type="button" class="btn btn-secondary">COMPRE ONLINE</button>
    </div>
</div>
