.img{
    border-radius: 20px;
    width: 100%;
}
.col{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    width: 500px;
}
.row{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}