    <div class="wrapper">
      <header>
        <nav>
          <div class="logo">LOGO</div>
          <div class="menu">
            <ul>
              <li><a href="">NOSSA HISTÓRIA</a></li>
              <li><a href="">MOTOS</a></li>
              <li><a href="">PEÇAS</a></li>
              <li><a href="">SERVIÇOS</a></li>
              <li><a href="">VESTUÁRIO</a></li>
              <li><a href="">CONTATO</a></li>
              <li><a href="">LOGIN</a></li>
            </ul>
          </div>
        </nav>
      </header>
    </div>
