header{
    width: 100%;
    height: 100vh;
    background: url("https://s1.1zoom.me/b5050/224/390120-blackangel_1920x1080.jpg"); /* background: url("https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/v4932568392214153270/general/todo-terreno-crosser-150-abs-s-banner-v01-yamaha.jpg&height=1080&width=1920&quality=1.0"); */
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    position: fixed;
    float: left;
    margin: 16px 36px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

nav{
    position: fixed;
    width: 100%;
}

nav ul{
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}

/* nav.black ul{
    background: #000;
} */

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}