<div class="row g-4 justify-content-md-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
                    <div class="card-body">
                        <h5 class="card-title">SERVIÇOS</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Escolha o plano de manutenção que cabe no seu orçamento e agende seu serviço online</h6>
                        <a href="#">SAIBA MAIS +</a>
                    </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
                    <div class="card-body">
                        <h5 class="card-title">PEÇAS GENUÍNAS</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Escolha peças genuínas e mantenha o DNA da sua motocicleta 100% original</h6>
                        <a href="#">SAIBA MAIS +</a>
                    </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://www3.yamaha-motor.com.br/ccstore/v1/images/?source=/file/general/Faixa4_B_home.jpg&height=1080&width=1920">
                    <div class="card-body">
                        <h5 class="card-title">MOTOLUBE</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Conheça nosso lubrificante, excelente para todas as marcas de moto.</h6>
                        <a href="#">SAIBA MAIS +</a>
                    </div>
            </div>
        </div>
    </div>
