<div class="row g-4 justify-content-md-center">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://www3.yamaha-motor.com.br/file/products/30000.BL5600010A.condicao.desktopp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">URBANO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">FAZER 150 UBS</h6>
                    <a href="#">SAIBA MAIS +</a>
                </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://www3.yamaha-motor.com.br/file/products/30000.BL5600010A.condicao.desktopp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">URBANO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">FAZER 150 UBS</h6>
                    <a href="#">SAIBA MAIS +</a>
                </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://www3.yamaha-motor.com.br/file/products/30000.BL5600010A.condicao.desktopp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">URBANO</h5>
                    <h6 class="card-subtitle mb-2 text-muted">FAZER 150 UBS</h6>
                    <a href="#">SAIBA MAIS +</a>
                </div>
        </div>
    </div>
  </div>

